<!DOCTYPE html>
<html lang="en">
    <head>
     <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
        <title>ONE pick!</title>
    </head>
    <body>
        <h1>S3에 배포한 ONE pick 사이트</h1>
        <h2>프로젝트: 모짜렐로</h2>
        <h3>소개:</h3>
        <ul>
            <li>‘모’든 곳에서 일등을 원하는 진‘짜’들을 위한 협업 관리 서비스 (Trello)</li>
            <li>내용: 특정 분야에서 정점이 되고 싶은 고객들을 위한 협업 툴입니다.
                <ul>
                    <li> 기존의 업무 효율성 향상을 위한 협업 툴을 뛰어넘어, 밀도 높은 업무 수행까지도 할 수 있도록 도움을 주는 기능을 추가하였습니다.</li>
                </ul>
            <li>기존 협업 툴과의 차별성:
                <ul>
                    <li>로그인 알림 기능 - 팀원들이 얼마나 밀도 있게 업무에 몰입하는지를 실시간으로 확인할 수 있습니다.</li>
                    <li>카드 첨부 파일 기능에 다양한 파일을 업로드함으로써 서로의 작업물들을 좀 더 쉽고 빠르게 확인할 수 있습니다.</li>
                </ul>
            </li>
        </ul>
    </body>
</html>